//For desktop

.burger-container {
    background-color: #000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    position: absolute;
    right: 10px;
    top: 10px;
  }























//For mobile
/* @media only screen and (max-width: 600px) {



} */
